[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "joinpointR"]
	path = joinpointR
	url = https://github.com/datos-ine/joinpointr
